<ng-template appPlaceholder></ng-template>
<div class="row">
  <div class="col-xl-4  col-md-4 offset-4">
<!--    <div class="alert alert-danger" *ngIf="errorResponse">-->
<!--      <p>{{ errorResponse }}</p>-->
<!--    </div>-->
<!--    <app-alert [message]="errorResponse" *ngIf="errorResponse" (closeAlert)="onHandleError()">-->
<!--    </app-alert>-->

    <div *ngIf="isLoading" class="d-flex justify-content-center"><app-loading-spinner></app-loading-spinner></div>
    <form
      [formGroup]="authForm"
      (ngSubmit)="onSubmit()"
      *ngIf="!isLoading">
      <div class="from-group div-with-margin-top">
        <label for="email">E-Mail</label>
        <input
          type="email"
          id="email"
          formControlName="email"
          class="form-control">
      </div>
      <div class="form-group div-with-margin-top">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          formControlName="password"
          class="form-control">
      </div>
      <div class="div-with-margin-top">
        <button
          class="btn btn-primary"
          [disabled]="!authForm.valid"
          type="submit">{{ isLoginMode ? 'Login' : 'Sign Up'}}</button>
        |
        <button
          class="btn btn-primary"
          type="button"
          (click)="onSwitchMode()">Switch to {{ isLoginMode ? 'Sign Up' : 'Login'}}</button>
      </div>
    </form>
  </div>
</div>
