<a
  style="cursor: pointer"
  routerLinkActive="active"
  class="list-group-item list-group-item-action clearfix"
  [routerLink]="['/recipes', recipeItem.id]">
  <div class="float-left">
    <h4>{{recipeItem.name}}</h4>
    <p class="list-group-item-text">{{recipeItem.description}}</p>
  </div>
  <span class="float-right">
        <img
          [src]="recipeItem.imagePath"
          alt=" {{ recipeItem.name }}"
          class="img-fluid"
          style="max-height: 50px;">
      </span>
</a>
